@font-face {
font-family: "Karrik";
src: url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.woff2?v=1600456820304") format("woff2"),
url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.woff?v=1600456814787") format("woff"),
url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.ttf?v=1600456811283") format("ttf");
font-display: fallback;
}

@font-face {
font-family: "Compagnon";
src: url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.woff2?v=1600464372500") format("woff2"),
url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.woff?v=1600464372661") format("woff"),
url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.otf?v=1600464381277") format("otf");
font-display: fallback;
}

:root {
--primary-background: #FFC7DE;
--primary-font: #fff;
--secondary-background: rgba(196, 84, 255, 0.25);
--secondary-font: #2f2f2f;
--gradient: linear-gradient(188deg, #FFDB87 20.5%, #FF9CC5 42.5%, #DAAFF8 63%, #667cde 86%);
--stroke-width: 2px;
--colors-accent: #3652d3;
}

* {
margin: 0;
padding: 0;
text-align: center;
box-sizing: border-box;
}

html {
background: var(--primary-background);
color: var(--primary-font);
font-family: "Karrik", Helvetica, Sans-serif;

-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body {
display: grid;
place-items: center;
grid-template-rows: auto auto 1fr;
height: 95vh;
width: 100%;
padding-bottom: 1em;
}

/* TITLE */

.title {
margin: 1em;
display: inline-block;
}

.title>h1 {
display: block;
font-size: 5em;
margin-block-start: 0.2em;
margin-block-end: 0.2em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
letter-spacing: 2.15px;
line-height: 0.9;

-webkit-text-stroke-width: 2.5px;
}

.title>h1>.backgroundText {
position: absolute;
color: transparent;
background: var(--gradient);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-stroke-color: var(--primary-font);
z-index: -100;
}

.title>h1>.backgroundText:nth-child(1) {
-webkit-transform: translate(calc(var(--stroke-width) * 6 * -1), calc(var(--stroke-width) * 6));
transform: translate(calc(var(--stroke-width) * 6 * -1), calc(var(--stroke-width) * 6));
}

.title>h1>.backgroundText:nth-child(2) {
-webkit-transform: translate(calc(var(--stroke-width) * 3 * -1), calc(var(--stroke-width) * 3));
transform: translate(calc(var(--stroke-width) * 3 * -1), calc(var(--stroke-width) * 3));
}

.title>h1>.foregroundText {
text-align: center;
position: relative;
-webkit-text-stroke-color: var(--colors-accent);
}

/* PREREQS */

.prereqs {
display: grid;
grid-gap: 0.5rem;
grid-template-columns: repeat(12, 1fr);
}

.a, .b {
grid-column: 1 / span 6;
}

.c, .d {
grid-column: 7 / span 6;
}

input {
outline: none;
border: none;
color: var(--colors-accent);
font-family: "Compagnon", serif !important;
font-size: 1.5em;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--colors-accent);
}

.text {
background: var(--primary-font);
padding-top: 1em;
padding: 0.5em;
min-height: 1.5em;
border-radius: 15px;
border: 2.5px solid var(--colors-accent);
}

/* styled range sliders */
input[type=range] {
height: 39px;
-webkit-appearance: none;
background: transparent;
margin: 10px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 12px;
cursor: pointer;
background: var(--secondary-background);
border-radius: 4px;
border: 2px solid var(--colors-accent);
}
input[type=range]::-webkit-slider-thumb {
border: 2px solid var(--colors-accent);
height: 30px;
width: 30px;
border-radius: 100%;
background: var(--secondary-background);
cursor: pointer;
-webkit-appearance: none;
margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: var(--secondary-background);
}
input[type=range]::-moz-range-track {
width: 100%;
height: 12px;
cursor: pointer;
background: var(--secondary-background);
border-radius: 4px;
border: 2px solid var(--colors-accent);
}
input[type=range]::-moz-range-thumb {
border: 2px solid var(--colors-accent);
height: 30px;
width: 30px;
border-radius: 100%;
background: var(--secondary-background);
cursor: pointer;
}
input[type=range]::-ms-track {
width: 100%;
height: 12px;
cursor: pointer;
background: transparent;
border-color: transparent;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: var(--secondary-background);
border: 2px solid var(--colors-accent);
border-radius: 8px;
}
input[type=range]::-ms-fill-upper {
background: var(--secondary-background);
border: 2px solid var(--colors-accent);
border-radius: 8px;
}
input[type=range]::-ms-thumb {
margin-top: 1px;
border: 2px solid var(--colors-accent);
height: 30px;
width: 30px;
border-radius: 100%;
background: var(--secondary-background);
cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
background: var(--secondary-background);
}
input[type=range]:focus::-ms-fill-upper {
background: var(--secondary-background);
}

#bottom_text:before,
#bottom_text,
#bottom_text:after {
color: var(--colors-accent);
background: var(--secondary-background);
}

/* button */
button {
outline: none;
border: none;
color: var(--colors-accent);
font-family: "Compagnon", serif !important;
font-size: 3em;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--colors-accent);
background: transparent;
}

/* GENERATED */
.generated {
background: var(--primary-font);
color: var(--colors-accent);
font-family: "Compagnon", serif;
width: 90%;
padding-top: 1em;
padding: 1em;
min-height: 3em;
border-radius: 15px;
border: 2.5px solid var(--colors-accent);
}

.generated>p:before,
.generated>p,
.generated>p:after {
font-size: 2.25em;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: var(--colors-accent);
}

.generated>p:focus {
outline: none;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
width: 0.75rem;
}

body::-webkit-scrollbar-track {
background-color: var(--primary-background);
border: 2.5px solid var(--colors-accent);
}

body::-webkit-scrollbar-thumb {
background-color: var(--secondary-background);
border: 2.5px solid var(--colors-accent);
}

/* TEXT SELECTION */
::-moz-selection {
color: var(--secondary-font);
background-color: var(--secondary-background);
}

::selection {
color: var(--secondary-font);
background-color: var(--secondary-background);
}

/* HEART ANIMATION */
.heart {
position: fixed;
top: -1vh;
transform: translateY(0);
animation: fallingHearts 3s linear forwards;
z-index: -1000;
}

@keyframes fallingHearts {
to {
transform: translateY(105vh);
}
}

/* ICONS */
.icons {
justify-content: space-between;
color: var(--colors-accent);
padding-top: 0.5em;
font-size: 4em;
}

.icons>a {
padding-left: 0.5em !important;
padding-right: 0.5em !important;
}

.icons>a:before,
a:after,
a:visited,
a:focus {
text-decoration: none;
color: inherit;
}

.icons>a:hover {
color: var(--primary-font);
}