@font-face {
    font-family: "Karrik";
    src: url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.woff2?v=1600456820304") format("woff2"),
        url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.woff?v=1600456814787") format("woff"),
        url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FKarrik-Regular.ttf?v=1600456811283") format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: "Compagnon";
    src: url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.woff2?v=1600464372500") format("woff2"),
        url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.woff?v=1600464372661") format("woff"),
        url("https://cdn.glitch.com/c296b094-1856-4b3a-9a84-5cb32e4eb129%2FCompagnon-Roman.otf?v=1600464381277") format("otf");
    font-display: fallback;
}

:root {
    --primary-background: #FFC7DE;
    --primary-font: #fff;
    --secondary-background: rgba(196, 84, 255, 0.25);
    --secondary-font: #2f2f2f;
    --gradient: linear-gradient(188deg, #FFDB87 20.5%, #FF9CC5 42.5%, #DAAFF8 63%, #667cde 86%);
    --stroke-width: 2px;
    --colors-accent: #3652d3;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr;
    background: var(--primary-background);
    color: var(--primary-font);
    font-family: "Karrik", Helvetica, Sans-serif;
    padding-bottom: 1em;
}

/* TITLE */

.title {
    margin: 1em;
    display: inline-block;
}

.title>h1 {
    display: block;
    font-size: 4em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    letter-spacing: 2.15px;
    line-height: 0.9;

    -webkit-text-stroke-width: 2.5px;
}

.title>h1>.backgroundText {
    position: absolute;
    color: transparent;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-color: var(--primary-font);
    z-index: -100;
}

.title>h1>.backgroundText:nth-child(1) {
    -webkit-transform: translate(calc(var(--stroke-width) * 6 * -1), calc(var(--stroke-width) * 6));
    transform: translate(calc(var(--stroke-width) * 6 * -1), calc(var(--stroke-width) * 6));
}

.title>h1>.backgroundText:nth-child(2) {
    -webkit-transform: translate(calc(var(--stroke-width) * 3 * -1), calc(var(--stroke-width) * 3));
    transform: translate(calc(var(--stroke-width) * 3 * -1), calc(var(--stroke-width) * 3));
}

.title>h1>.foregroundText {
    text-align: center;
    position: relative;
    -webkit-text-stroke-color: var(--colors-accent);
}

/* GENERATOR */
.generator {
    background: var(--primary-font);
    color: var(--colors-accent);
    font-family: "Compagnon", serif;
    width: 90%;
    padding: 1em;
    min-height: 300px;
    border-radius: 15px;
    border: 2.5px solid var(--colors-accent);
}

.generator>p {
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--colors-accent);
}

.generator>p:focus {
    outline: none;
}

/* MORE STUFF */
.moreStuff {
    display: grid;
    place-content: space-between;
    font-size: 3em;
}

.moreStuff>.icons {
    justify-content: space-between;
    color: var(--colors-accent);
    padding-top: 0.5em;
}

.moreStuff>.icons>a {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.icons>a:before,
a:after,
a:visited,
a:focus {
    text-decoration: none;
    color: inherit;
}

.icons>a:hover {
    color: var(--primary-font);
}

/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 0.75rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--primary-background);
    border: 2.5px solid var(--colors-accent);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-background);
    border: 2.5px solid var(--colors-accent);
}

/* TEXT SELECTION */
::-moz-selection {
    color: var(--secondary-font);
    background-color: var(--secondary-background);
}

::selection {
    color: var(--secondary-font);
    background-color: var(--secondary-background);
}

/* HEART ANIMATION */
.heart {
    position: fixed;
    top: -1vh;
    font-size: 1rem;
    transform: translateY(0);
    animation: fallingHearts 3s linear forwards;
    z-index: -1000;
}

@keyframes fallingHearts {
    to {
        transform: translateY(105vh);
    }
}